@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome 2020 鐵人賽</h1>
    <p>Learn about <a href="https://ithelp.ithome.com.tw/users/20072651/ironman/3347">Azure 的自我修煉</a>.</p>
</div>
